**/build/
**/.vscode/
**/.settings/
**/.venv/
.venv/
build
build/
.vscode
.vscode/
.settings
.settings/
.vscode/ipch/
.vscode/.cmaketools/
.vscode/compile_commands.json
CMakeUserPresets.json
.DS_Store
Thumbs.db